
<div class="col-md-6 m-5 ">

  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <div class="form-outline">
                <label for="validationCustom01" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="validationCustom01"  [(ngModel)] = "input_nombre" name="nombre" required />

        <div *ngIf="condicion_nombre == false && condicion_inicial == true" class="text-danger">Please provide a valid nombre.</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-outline">
        <label for="validationCustom02" class="form-label">Email</label>
        <input type="text" class="form-control" id="validationCustom02"   [(ngModel)] = "input_email" name="email" required />

        <div  *ngIf="condicion_email == false && condicion_inicial == true" class="text-danger">Please provide a valid email.</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-outline">
        <label for="validationCustom02" class="form-label">Mensaje</label>
        <input type="text" class="form-control" id="validationCustom02"  [(ngModel)] = "input_mensaje"  name="msg"required />
        <div *ngIf="condicion_mensaje == false && condicion_inicial == true" class="text-danger">Please provide a valid mensaje.</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-outline">
        <label for="validationCustom03" class="form-label">2 + 3 = ?</label>
        <input type="text" class="form-control" id="validationCustom03"  [(ngModel)] = "input_preguntasecreta"  name="preguntasecreta"required />
        <div *ngIf="condicion_preguntasecreta == false && condicion_inicial == true" class="text-danger">Please provide a valid city.</div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="btnSubmit()"> Aceptar</button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
<br>
<app-act2 [listaHija]="list"></app-act2>
